:root {
  --color: #80b9d8;
  --text: #181515;
  --header: 'Lora', serif;
  --general: 'Josefin Sans', Ubuntu, sans-serif;
}
a {
  color: #b99960;
}

a::after {
  display: inline-block;
  content: ' ';
  background-image: url('./images/external-link.svg');
  background-size: contain;
  height: 13px;
  width: 13px;
  margin-left: 2px;
}

a:hover {
  color: #000;
  transition: 0.2s;
}

.flex {
  display: flex;
}

html {
  box-sizing: border-box;
}
p,
h2,
h3,
h4,
h5 {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* height: 100vh; */
  padding: 40px 0;
  margin: 0;
  /* border: 20px solid #80b9d8; */
  background: #fff;
  color: var(--text);
  line-height: 20px;
  font-weight: 100;
  min-width: 700px;
  font-family: var(--general);
}
.wrapper {
  width: 90%;
  margin: auto;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 24px;
}
.body-content {
  display: grid;
  grid-template-columns: 35% 65%;
}
aside {
  background-color: #eaeae8;
  padding: 40px 0 40px 40px;
  border-right: 1px solid #b99960;
}
main {
  background-color: #fff;
  padding: 40px;
}

.title {
  display: flex;
  justify-content: center;
  height: auto;
  min-height: 184px;
  color: #b99960;
  flex-direction: column;
  background-color: #2e3f50;
  padding: 14px 40px;
}

.title .name {
  font-size: 56px;
  line-height: 74px;
}
.title .role {
  font-size: 30px;
  line-height: 32px;
}

.sub-heading {
  text-transform: uppercase;
  color: #2e3f50;
  border-bottom: 2px solid #000;
  font-weight: bold;
  margin: 0 0 25px 0;
  font-family: var(--header);
}

.side-heading {
  text-transform: uppercase;
  color: #2e3f50;
  font-weight: bold;
  font-size: 15px;
  margin: 0px 0 10px 0;
  font-family: var(--header);
}

ul {
  padding-left: 20px;
}
ul li {
  padding-bottom: 10px;
}

.portfolio a {
  color: #2e3f50;
  text-decoration: none;
}

.info p.flex {
  gap: 3px;
  align-items: baseline;
  font-size: 14px;
  color: #2e3f50;
  padding-bottom: 10px;
}
.info a {
  text-decoration: none;
  color: #2e3f50;
}

::selection {
  background-color: #2e3f50;
  color: #fff;
  font-style: italic;
}
section {
  margin: 30px 0;
}
.sub-section {
  padding-bottom: 30px;
}
section .sub-section:not(:last-child) {
  border-bottom: 1px solid #2e3f50;
}
.sub-section span {
  color: #b99960;
}

.sub-section h4 {
  color: #000;
  font-size: 29px;
  margin: 20px 0;
}
.sub-section .company {
  /* color: #000; */
  font-size: 16px;
  margin-bottom: 5px;
}
.sub-section .date {
  /* color: #888; */
  font-size: 16px;
}
.sub-section article,
.personal-info p {
  line-height: 35px;
  font-size: 22px;
  color: #777;
}
.sub-section article ul{
  margin: 0;
  list-style-type: square;
  font-size: 20px;
  line-height: 24px;
}

@media all and (max-width: 768px) {
  .title .name {
    font-size: 40px;
  }
  .title {
    padding: 14px 20px;
  }
  aside {
    padding: 20px 0 20px 20px;
  }
  main {
    padding: 20px;
  }
}
